
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
 
  #agregar {
    background-color: #f8f9fa;
    padding: 15px; 
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  .btn {
    margin: 5px;
  }
  
 
  .mi-tabla {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mi-tabla th,
  .mi-tabla td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
  }
  
  thead th {
    background-color: #343a40;
    color: #ffffff;
  }
  
  tfoot th {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
  }
  
  .table-striped tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  

